.dialog-pane{
  -fx-border-color:white;
  -fx-border-width:2.0px;
 }

.dialog-pane > .button-bar > .container {
  -fx-background-color: #393351;
}
.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-background-color:  #393351;
   -fx-text-fill:white;
   -fx-font-size:15.0px;
}
.dialog-pane:header .header-panel {
  -fx-background-color:  #393351;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color:   #393351;
  -fx-background-radius:10px;
  -fx-text-fill:white;
  -fx-font-size:15.0px;
}
.dialog-pane .button{
   -fx-background-color: #2f2b43;
   -fx-text-fill:white;
 }
.dialog-pane .button:hover{
  -fx-background-color : #4e4766;
  -fx-font-weight:bold;
 }